<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title>Notebook | Web Application</title>
<meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="__PUBLIC__/css/app.v2.css" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/css/font.css" type="text/css" cache="false" />
<link rel="stylesheet" href="__PUBLIC__/js/datatables/datatables.css" type="text/css" cache="false">
<!--[if lt IE 9]> <script src="js/ie/html5shiv.js" cache="false"></script> <script src="js/ie/respond.min.js" cache="false"></script> <script src="js/ie/excanvas.js" cache="false"></script> <![endif]-->
</head>
<body>
<section class="vbox">
  <section>
    <section class="hbox stretch"> <!-- .aside -->
      <section id="content">
        <section class="vbox">
          <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="#">UI kit</a></li>
              <li><a href="#">Table</a></li>
              <li class="active">Datatable</li>
            </ul>
            <div class="m-b-md">
              <h3 class="m-b-none">民生门户</h3>
            </div>
            <section class="panel panel-default">
              <header class="panel-heading"> 民生门户</header>
              <header class="panel-heading">  <a href="{:U('Index/RegisterStore')}" class="btn btn-s-md btn-primary btn-rounded">新增门店</a></header>
              <div class="table-responsive">
                <table class="table table-striped m-b-none" data-ride="datatables">
                  <thead>
                    <tr>
                      <th width="20%">门店id</th>
                      <th width="25%">名店名称</th>
                      <th width="25%">类别</th>
                      <th width="15%">状态</th>
                      <th width="15%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </section>
          </section>
        </section>
        
      <aside class="bg-light lter b-l aside-md hide" id="notes">
        <div class="wrapper">Notification</div>
      </aside>
    </section>
  </section>
</section>
<script src="__PUBLIC__/js/app.v2.js"></script> <!-- Bootstrap --> <!-- App --> <!-- datatables --><script src="__PUBLIC__/js/datatables/jquery.dataTables.min.js" cache="false"></script>
</body>
</html>
